configuration {
    width: 40;
    modi: "window,run,drun,ssh";
    drun-match-fields: "name,generic,exec,categories";
    drun-display-format: "{name} [<span weight='light' size='small'><i>({generic})</i></span>]";
    drun-url-launcher: "xdg-open";
    font: "JetBrainsMono 12";
    show-icons: true;
    kb-cancel: "Super+z,Super+d,Escape,Control+g,Control+bracketleft";
    display-drun: "Run";
    display-window: "Window";
}

@theme "~/.config/rofi/gruvbox-dark.rasi"
